@media screen and (max-width:576px){
    body{
        padding-inline: 15px;
    }
    .nav-menu{
        display: none;
    }
    .hamburge-menu{
        display: block;
    }
    .banner-container,
    .run-extra-container,
    .bmi-wrapper
    {
        flex-direction: column;
    }
    .banner-title{
        font-size: 4rem;
        margin-bottom: 1.75rem;
    }
    .primary-btn{
        display: none;
    }
    .primary-btn-join{
        display: block;
        flex-direction: column;
    }
    .banner-img{
        margin: auto;
        margin-top: 3rem;
    }
    .workout-videos{
        max-width: 170px;
        left: 200px;
        top: -550px;
    }
    .video-tutorial{
        left: 10px;
        top: -450px;
    }
    .movement-container,
    .team-member
    {
        grid-template-columns: repeat(1, 1fr);

    }
    .movement-paragraph{
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    /* -------------Extra Run Section----------- */
    .run-extra-container, .run-extra-title button{
        margin-bottom: 30px;
    }
    /* bmi section */
    .bmi-chart-input{
        margin-top: 3rem;
    }
}