@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
}

/* shear style */
.display {
    display: flex
}

.light-gray {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.light-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.primary-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.62rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
}

.primary-btn-join {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.62rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    display: none;
}

.btn-one {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.62rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
}

.secondary-btn {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.62rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin-left: 1rem;
    background-color: transparent;
}

/* navbar style */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.navbar-container {
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 3.56rem;
    justify-content: space-between;
}

.navbar-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 0.8rem;
}

.nav-menu a {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    margin-left: 2.93rem;
}

#home-btn {
    border-radius: 2.8rem;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}

.hamburge-menu {
    color: #fff;
    padding: 0.8rem;
    display: none;
}

/* banner style */
.banner-container {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.9rem;
    font-weight: 900;
    margin-bottom: 1.75rem;
}

.banner-title .shape {
    font-family: 'Miama', sans-serif;
}

.btn-container {
    margin-top: 1.75rem;
}

/* .banner-img >img{
    width: 100%;
} */
.workout-videos {
    position: relative;
    bottom: 420px;
    left: 250px;
    max-width: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
}

.workout-videos h3 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.video-tutorial {
    position: relative;
    max-width: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    bottom: 270px;
    right: 100px;
    gap: 12px;
}

.video-tutorial .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}

.video-tutorial h3 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

/* habit section style */
.habit-title {
    max-width: 680px;
    margin: 0 auto;
    margin-top: -100px;
    text-align: center;
}

.movement-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.movement-img {
    border-radius: 50%;
}

.movement-title {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.movement-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.run-extra-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 18px;
    background: rgba(34, 34, 34, 0.767);
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.run-extra-container,
.run-extra-title p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.run-extra-title {
    max-width: 500px;

}

.run-extra-image {
    max-width: 500px;
}

.run-extra-image img {
    width: 100%;
    border-radius: 1.125rem;
}
/* extra activity style */
.activity-container{
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}
.activity-one{
    margin-top: 4rem;
    border-radius: 18px;
    background: rgba(34, 34, 34, 0.767);
    justify-content: space-around;
    align-items: center;
}
.activity-img{
    max-width: 400px;
    padding: 20px;
}
.activity-img img{
    width: 100%;
    border-radius: 20px;
}
.cycling-title{
    max-width: 500px;
}
.cycling-title p{
    margin-top: 30px;
    margin-bottom: 30px;
}


/* calculator style */
.calculator-title {
    max-width: 700px;
    margin: 50px auto;
}

.bmi-calculator {
    background: rgb(34, 34, 34);
}

.bmi-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0px;
}

/* .bmi-chart{

} */
.bmi-chart-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.bmi-chart table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    margin-top: 50px;

}

.bmi-chart table thead tr,
.bmi-chart table tbody tr,
.bmi-chart table thead tr th,
.bmi-chart table tbody tr td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-collapse: collapse; */
    padding: 10px 15px;
    text-align: left;
    color: #fff;
}

.bmi-chart table tbody tr td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.bmi-chart-input {
    max-width: 580px;
}

.bmi-chart-input p {
    margin: 15px 0 30px 0;
}

.bmi-input-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.bmi-input-wrapper input,
.bmi-input-wrapper select {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}

/* option{
    background-color: #101010;
    color: #fff;
} */
#activity {
    display: block;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 12px;
    margin-bottom: 30px;
}

.team-title {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

.team-member {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.member {
    max-width: 360px;
    background-color: red;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;

}

.member-container {
    margin-top: 230px;
    margin-left: 30px;
}

.member-container h4 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
}

.member-container p {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.member-one {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer1.png);

}

.member-two {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer2.png);
}

.member-three {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer3.png);
}

.member-four {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer4.png);
}

.member-five {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer5.png);
}

.member-six {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../images/trainer6.png);
}

/* footer section style */
footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer-container {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding-block: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-brand-name {
    max-width: 450px;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}

.get-start {
    max-width: 200px;
}

.get-start h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
}

.get-start ul li {
    list-style: none;
    margin-top: 10px;

}

.get-start ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0px 10px 50px 10px ;
}